{% extends 'booking_app/layouts/base.html' %}

{% block title %} Profile {% endblock %}

{% block content %}
    Ваше имя: {{ request.user.username }}
<h2>My Bookings</h2>
  <ul>
    {% for booking in bookings %}
      <li>
        Room {{ booking.hotel_room.room}} ({{ booking.hotel_room.type_of_room }}) from {{ booking.entry_date }} to {{ booking.left_date }}
        <form action="{% url 'cancel_booking' booking.id %}" method="post">
          {% csrf_token %}
          <button type="submit">Cancel</button>
        </form>
      </li>
    {% endfor %}
  </ul>
{% endblock %}

