footer {
    background-color: #2c3e50; /* Соответствует цвету хедера */
    color: #fff;
    padding: 2em 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
}

.footer-content {
    width: 100%;
    max-width: 1200px;
}

footer p {
    margin: 0 0 1em;
    font-size: 1rem;
}

footer nav {
    display: flex;
    gap: 1em;
    justify-content: center;
}

footer nav a {
    text-decoration: none;
    color: #fff; /* Цвет текста */
    transition: color .3s ease;
}

footer nav a:hover {
    color: #78d1ff; /* Акцентный цвет */
}

footer nav a:active {
    color: #bdc3c7;
}

@media screen and (max-width: 820px) {
    footer {
        padding: 2em 5%;
    }

    footer nav {
        flex-direction: column;
        gap: 0.5em; /* уменьшенный промежуток между элементами навигации на маленьких экранах */
    }
}